<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.wow.api.dao.MainMapper">
	<!-- 로그인 암호화 -->
	<select id="mainOrder" parameterType="com.wow.api.model.MainModel" resultType="com.wow.api.model.MainModel">
	    SELECT 8300 AS toDayAmt
             , 2600 AS monthAmt
          FROM Ord_Mst
         WHERE Userid =${userId}
           AND rownum = 1 
	</select>
</mapper>